In [1]:
import pandas as pd
df=pd.read_csv("online_retail_II - Year 2009-2010.csv")

In [2]:
df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,12/1/09 7:45,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,12/1/09 7:45,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,12/1/09 7:45,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,12/1/09 7:45,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,12/1/09 7:45,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
525456,538171,22271,FELTCRAFT DOLL ROSIE,2,12/9/10 20:01,2.95,17530.0,United Kingdom
525457,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1,12/9/10 20:01,3.75,17530.0,United Kingdom
525458,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,12/9/10 20:01,3.75,17530.0,United Kingdom
525459,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,12/9/10 20:01,3.75,17530.0,United Kingdom
525460,538171,21931,JUMBO STORAGE BAG SUKI,2,12/9/10 20:01,1.95,17530.0,United Kingdom

In [3]:
df["InvoiceDate"][0:1]

0    12/1/09 7:45
Name: InvoiceDate, dtype: object

In [4]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

C:\Users\Aspire\AppData\Local\Temp\ipykernel_20296\3633860036.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

In [5]:
df["InvoiceDate"][0:1]

0   2009-12-01 07:45:00
Name: InvoiceDate, dtype: datetime64[ns]

In [6]:
from datetime import datetime

In [7]:
reference_date = datetime.now() 
df['recency'] = (reference_date - df.groupby('Customer ID')['InvoiceDate'].transform('max')).dt.days

In [8]:
df['recency']

0         4629.0
1         4629.0
2         4629.0
3         4629.0
4         4629.0
           ...
525456    4574.0
525457    4574.0
525458    4574.0
525459    4574.0
525460    4574.0
Name: recency, Length: 525461, dtype: float64

In [9]:
df['frequency'] = df.groupby('Customer ID')['InvoiceDate'].transform('count')

In [10]:
df['monetary'] = df.groupby('Customer ID')['Price'].transform('sum')